[submodule "files/_vim/bundle/nerdcommenter"]
	path = files/_vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "files/_vim/bundle/nerdtree"]
	path = files/_vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "files/_vim/bundle/snipmate"]
	path = files/_vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "files/_vim/bundle/tagbar"]
	path = files/_vim/bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "files/_vim/bundle/vim-rails"]
	path = files/_vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "files/_vim/bundle/vim-ruby"]
	path = files/_vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "files/_vim/bundle/vim-task"]
	path = files/_vim/bundle/vim-task
	url = http://github.com/samsonw/vim-task.git
[submodule "files/_vim/bundle/vim-go"]
	path = files/_vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "files/_vim/bundle/YouCompleteMe"]
	path = files/_vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
